* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  zoom: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: "Space Grotesk";
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
.hero-section {
  width: 100%;
  height: 100%;
}
.hero-section main {
  height: 100%;
  padding: 4rem 8rem;
  margin-left: 2rem;
}

.header_wrapper {
  width: 100%;
}
.header_wrapper header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #191A23;
}

.logo_wrapper {
  width: 16rem;
}
.logo_wrapper img {
  max-width: 100%;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav_wrapper .nav_container_list ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
.nav_wrapper .nav_container_list ul li a {
  color: #191A23;
  text-decoration: none;
  font-size: 1.4rem;
}

.hero_content {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.h1_hero_text {
  font-size: 3.3rem;
}

.p_hero_text {
  font-size: 2.201rem;
}

.hero_illustration img {
  width: 45.5rem;
}

.companies-logos {
  display: flex;
  justify-content: space-between;
}
.companies-logos img {
  filter: grayscale(1);
}

.service_section {
  margin-top: 90px;
}
.service_section .heading_wrapper {
  display: flex;
  gap: 5rem;
}
.service_section .heading_wrapper .heading_box {
  background-color: #B9FF66;
}
.service_content {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  row-gap: 3.032525rem;
  column-gap: 3.032525rem;
}

.service_card_white {
  width: 65rem;
  height: 23.50207rem;
  background-color: #F3F3F3;
  border: 1px solid #191A23;
  border-bottom: 5px solid;
  border-radius: 2.57143rem;
  display: flex;
  justify-content: space-between;
}
.service_card_white .service_card_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3.790656rem 3.790656rem 3.790656rem 3.790656rem;
}
.service_card_white .service_card_text .service_card_title {
  font-size: 2.1rem;
}
.service_card_white .service_card_text .service_card_title h3 {
  background-color: #B9FF66;
  width: fit-content;
  border-radius: 0.4rem;
}
.service_card_white .service_card_text .learn_more {
  display: flex;
  width: 12.43335rem;
  height: 3.10834rem;
  align-items: center;
  justify-content: space-between;
}
.service_card_white .service_card_text .learn_more .learn_more_arrow {
  width: 3.10834rem;
  height: 3.10834rem;
}
.service_card_white .service_card_text .learn_more .learn_more_arrow img {
  width: 100%;
  height: 100%;
}
.service_card_white .service_card_text .learn_more .learn_more_text {
  width: 8.18782rem;
  height: 2.122767rem;
  text-align: center;
}
.service_card_white .service_card_text .learn_more .learn_more_text h4 {
  font-size: 1.4rem;
}
.service_card_white .service_card_illustration {
  margin: 3.790656rem;
}
.service_card_white .service_card_illustration img {
  width: 100%;
  height: 100%;
}

.service_card_black {
  width: 65rem;
  height: 23.50207rem;
  background-color: #191A23;
  border: 1px solid #191A23;
  border-bottom: 5px solid;
  border-radius: 2.57143rem;
  display: flex;
  justify-content: space-between;
}
.service_card_black .service_card_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3.790656rem;
}
.service_card_black .service_card_text .service_card_title_white {
  font-size: 2.1rem;
}
.service_card_black .service_card_text .service_card_title_white h3 {
  background-color: #F3F3F3;
  width: fit-content;
  border-radius: 0.4rem;
}
.service_card_black .service_card_text .service_card_title_green {
  font-size: 2.1rem;
}
.service_card_black .service_card_text .service_card_title_green h3 {
  background-color: #B9FF66;
  width: fit-content;
  border-radius: 0.4rem;
}
.service_card_black .service_card_text .learn_more {
  display: flex;
  width: 12.43335rem;
  height: 3.10834rem;
  align-items: center;
  justify-content: space-between;
}
.service_card_black .service_card_text .learn_more .learn_more_arrow {
  width: 3.10834rem;
  height: 3.10834rem;
}
.service_card_black .service_card_text .learn_more .learn_more_arrow img {
  width: 100%;
  height: 100%;
}
.service_card_black .service_card_text .learn_more .learn_more_text {
  width: 8.18782rem;
  height: 2.122767rem;
  text-align: center;
  color: #F3F3F3;
}
.service_card_black .service_card_text .learn_more .learn_more_text h4 {
  font-size: 1.4rem;
}
.service_card_black .service_card_illustration {
  margin: 3.790656rem;
}
.service_card_black .service_card_illustration img {
  width: 100%;
  height: 100%;
}

.service_card_green {
  width: 65rem;
  height: 23.50207rem;
  background-color: #B9FF66;
  border: 1px solid #191A23;
  border-bottom: 5px solid;
  border-radius: 2.57143rem;
  display: flex;
  justify-content: space-between;
}
.service_card_green .service_card_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3.790656rem;
}
.service_card_green .service_card_text .service_card_title {
  font-size: 2.1rem;
}
.service_card_green .service_card_text .service_card_title h3 {
  background-color: #F3F3F3;
  width: fit-content;
  border-radius: 0.4rem;
}
.service_card_green .service_card_text .learn_more {
  display: flex;
  width: 12.43335rem;
  height: 3.10834rem;
  align-items: center;
  justify-content: space-between;
}
.service_card_green .service_card_text .learn_more .learn_more_arrow {
  width: 3.10834rem;
  height: 3.10834rem;
}
.service_card_green .service_card_text .learn_more .learn_more_arrow img {
  width: 100%;
  height: 100%;
}
.service_card_green .service_card_text .learn_more .learn_more_text {
  width: 8.18782rem;
  height: 2.122767rem;
  text-align: center;
}
.service_card_green .service_card_text .learn_more .learn_more_text h4 {
  font-size: 1.4rem;
}
.service_card_green .service_card_illustration {
  margin: 3.790656rem;
}
.service_card_green .service_card_illustration img {
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: "Space Grotesk";
  border: none;
  cursor: pointer;
}

.btn_white {
  background: transparent;
  border: 0.1rem solid #191A23;
  color: #191A23;
  padding: 1.5rem;
}

.btn_dark {
  color: #F3F3F3;
  background: #191A23;
  padding: 1.5rem 6.5rem;
}

.heading_box {
  background-color: #B9FF66;
  color: #191A23;
  border-radius: 0.4rem;
  font-size: 2.8rem;
  width: 10rem;
  text-align: center;
}

.heading_text {
  color: #191A23;
  font-size: 1.26rem;
}

/*# sourceMappingURL=style.css.map */
