@use "../abstracts" as *;
@use "../base" as *;


.service_section{
    margin-top: 90px;
    .heading_wrapper{
        display: flex;
        gap: 3rem;
        .heading_box{
          background-color: $green-yellow;  
        }
        .heading_text{
        }
    }
}

.service_content{
    display:flex;
    flex-wrap: wrap;
    width: inherit;
    align-items: center;
}
.service_card_white{
    width: 500rem;
    background-color: $white-smoke;
    border-radius: 1.42857rem;
    margin: 4rem 8rem;
    display: flex;
    justify-content: center;
}
.service_card_black{
    width: 500rem;
    background-color: $raisin-black;
    border-radius: 1.42857rem;
    margin: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}
.service_card_green{
    width: 500rem;
    background-color: $green-yellow;
    border-radius: 1.42857rem;
    margin: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}