
@use "../abstracts" as *;
@use "../base" as *;

.btn {
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: "Space Grotesk";
  border: none;
  cursor: pointer;
}

.btn_white {
  background: transparent;
  border: 0.1rem solid $raisin-black;
  color: $raisin-black;
  padding: 1.5rem;
}

.btn_dark {
  color: $white-smoke;
  background: $raisin-black;
  padding: 1.5rem 6.5rem;
}

.process_card{
    background-color: $white-smoke;
    border: 1px solid $raisin-black;
    border-bottom: 5px solid;
}

