
@use "../abstracts" as *;
@use "../base" as *;

.btn {
  border-radius: 0.8rem;
  
  font-size: 1.6rem;
  font-family: "Space Grotesk";
  border: none;
  cursor: pointer;
}

.btn_white {
  background: transparent;
  border: 0.1rem solid $raisin-black;
  color: $raisin-black;
  padding: 1.5rem;
}

.btn_dark {
  color: $white-smoke;
  background: $raisin-black;
  padding: 1.5rem 6.5rem;
}

.heading_box {
      background-color: $green-yellow;
      color: $raisin-black;
      border-radius: 0.4rem;
      font-size: 3.2rem;
      width: fit-content;
}
.heading_text {
      color: $raisin-black;
      font-size: 1.6rem;
}

